body{
    font-size:40px;
    font-weight: bold;
}

.nav-item a{
    color: white;
}

.navbar-brand{
    color: gold;
}

.txt h4{
    font-size: 40px;
}

.big-txt h1{
    font-size: 80px;
}

.btn{
    font-size: 40px;
}