body{
  font-size: 40px;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: white;
  color: black;
}

.nav-item a {
  color: white;
}

.navigation {
  background-image: url(https://i.postimg.cc/pLr1tgfN/pexels-andrew-3178938.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background-image: url(https://i.postimg.cc/pLr1tgfN/pexels-andrew-3178938.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 550px;
}

.txt {
  padding-top: 50px;
}

.txt h4 {
  font-size: 40px;
}

.txt h1 {
  font-size: 80px;
}

.btn {
  font-size: 40px;
}

i {
  color: gold;
  font-size: 50px;
  border: 2px solid gold;
  border-radius: 100%;
  padding: 20px;
}

.services p {
  font-size: 18px;
}

.our-portfolio {
  background: lightgray;
}

.our-portfolio img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.picture-txt {
  background: white;
}

.foot-nav i {
  color: gold;
  font-size: 20px;
  border: 2px solid gold;
  border-radius: 100%;
  padding: 5px;
}

footer {}
